/*共用样式表*/
@charset "utf-8";

.global-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login{
  font-size: 15px;
  color: slategrey;
  height: 40px;
  line-height: 40px;
}
.div-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}